/*------------------------------------*\
    #Imports
\*------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url('animations.css');






/*------------------------------------*\
    #Global-Settings
\*------------------------------------*/
body {
  font-family: Josefin Sans;
  font-size: 22px;
  font-weight: 300;
  background: #111;
  margin: 0;
}

p {
  text-align: justify;
}

h1 {
  padding-top: 20px;
  font-size: 70px;
  font-family: Amatic SC;
}






/*------------------------------------*\
    #Header 
\*------------------------------------*/
 header {
  background-color: transparent;
  color: white;
  font-family: Amatic SC;
  font-size: 45px;
  height: 60px;
  padding-bottom: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
 }

 header.fixed {
  animation: reveal 0.5s;
  -moz-animation: reveal 0.5s;
  -webkit-animation: reveal 0.5s;
  background: url('../img/background-3.png');
  position: fixed;
  z-index: 9999;
 }

header ul {
  display: inline;
}

header li {
  display: inline;
}

header a {
  color: #0ABFBC;
  text-decoration: none;
}

header a:hover {
  color: #F2D43F;
}

header.fixed a {
  color: white;
  text-decoration: none;
}

header.fixed a:hover {
  color: #FC354C;
}

header i {
  color: white;
  font-size: 25px !important;
  margin: 0 30px;
  vertical-align: middle;
}






/*------------------------------------*\
    #Main
\*------------------------------------*/
.intro .layer-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  z-index: -9999;
}

.intro .layer-wrapper img {
  display: block;
  height: 100vh;
  width: 100%;
}

.intro .scene {
  padding: 0;
  margin: 0;
}

.layer:nth-child(1) {
  opacity: 0.25;
  height: 100vh;
}

.layer:nth-child(2) {
  -moz-animation: glow 4s infinite linear;
  -webkit-animation: glow 4s infinite linear;
  animation: glow 4s infinite linear;
  display: block;
  opacity: 0.0;
  right: 0;
}

.layer:nth-child(3) {
  display: block;
  font-size: 100px;
  margin-top: 30vh;
  right: 0;
}

.layer div {
  color: white;
  display: block;
  font-family: Amatic SC;
  font-weight:800;
  line-height: 120px;
  margin: 0 auto;
  text-align: center;
}






/*------------------------------------*\
    #Portfolio
\*------------------------------------*/
.portfolio {
  background-color: #248F8D;

}





/*------------------------------------*\
    #About-Me
\*------------------------------------*/
.aboutme {
  color: #EFF3CD;
  padding: 20px;
  background: url('../img/background-1.png');
}






/*------------------------------------*\
    #Contact
\*------------------------------------*/
.contact {
  background-color: #61ADA0;
}





