/*
 *  Filename:     style.css
 *  Description:  Global CSS
 *  Version:      1.0.0 (2015-03-02)
 *  Website:      claudiahdz.me
 *  Author:       Claudia Hernández Rivera
 *
 */

/**
 * CONTENTS
 *
 * GLOBAL SETTINGS......Globally-available variables and config.
 *
 * HEADER...............The main page header.
 *
 * MAIN.................Parallax layers customization.
 *
 * PORTFOLIO
 *
 * ABOUT ME
 *
 * RESOURCES
 *
 * CONTACT..............The page main footer with contact information.
 * Icons................Footer contact icons.
 * Go to top............Custom buttom at the bottom for scrolling.
 */






/*------------------------------------*\
    #Global-Settings
\*------------------------------------*/
body {
  font-family: Lato;
  font-size: 22px;
  font-weight: 300;
  background: #111;
  margin: 0;
  overflow-x: hidden;
}

p {
  text-align: justify;
}

h1 {
  padding-top: 20px;
  font-size: 70px;
  font-family: Amatic SC;
}

h2 {
  font-family: Amatic SC;
  font-size: 60px;
  margin: 0;
}

small {
  display: block;
  font-size: 14px;
  margin: -15px auto 15px auto;
  text-align: center;
}






/*------------------------------------*\
    #Header 
\*------------------------------------*/
 header {
  background-color: transparent;
  color: white;
  font-family: Amatic SC;
  font-size: 45px;
  height: 60px;
  padding-bottom: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
 }

 header.fixed {
  -moz-animation: reveal 0.5s;
  -webkit-animation: reveal 0.5s;
  -webkit-transform: translate3d(0,0,0);
  animation: reveal 0.5s;
  background: url('../img/backgrounds/background-header.png');
  position: fixed;

 }

header ul {
  display: inline;
}

header li {
  display: inline;
}

header a {
  color: #0ABFBC;
  text-decoration: none;
}

header a:hover {
  color: #F2D43F;
}

header.fixed a {
  color: white;
  text-decoration: none;
}

header.fixed a:hover {
  color: #FC354C;
}

header i {
  color: white;
  font-size: 25px !important;
  margin: 0 30px;
  vertical-align: middle;
}

header.fixed i {
  color: #F9D423;
}






/*------------------------------------*\
    #Main
\*------------------------------------*/
.intro .layer-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  z-index: -9999;
}

.intro .layer-wrapper img {
  display: block;
  height: 100vh;
  width: 100%;
}

.intro .scene {
  padding: 0;
  margin: 0;
}

.intro span {
  background: url('../img/assets/arrow.png');
  bottom: 15px;
  color: white;
  height: 144px;
  position: absolute;
  right: 15px;
  width: 149px;
  z-index: 999;
}

.layer:nth-child(1) {
  opacity: 0.25;
  height: 100vh;
}

.layer:nth-child(2) {
  -moz-animation: glow 4s infinite linear;
  -webkit-animation: glow 4s infinite linear;
  animation: glow 4s infinite linear;
  display: block;
  opacity: 0.0;
  right: 0;
}

.layer:nth-child(3) {
  display: block;
  font-size: 100px;
  margin-top: 30vh;
  right: 0;
}

.layer div {
  color: white;
  display: block;
  font-family: Amatic SC;
  font-weight:800;
  line-height: 120px;
  margin: 0 auto;
  text-align: center;
}






/*------------------------------------*\
    #Portfolio
\*------------------------------------*/
.portfolio {
  color: white;
  background: url('../img/backgrounds/background-portfolio.png');
}

.portfolio h3 {
  margin: 0;
}

.portfolio hr {
  margin: 0;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
}

.description img {
  width: 100%;
}

.description span {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.description span:first-of-type {
  color: #FC354C;
}

.description span:nth-of-type(2) {
  float: right;
}

.description a {
  text-decoration: none;
}

.description em {
  font-style: normal;
  color: #0FA0CE;
  font-weight: 700;
}






/*------------------------------------*\
    #About-Me
\*------------------------------------*/
.aboutme.parallax-section {
  color: white;
  padding: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #0E0E0E;
  background-size: cover;
  background-image: url('../img/assets/doodles_bg.png');
}

.aboutme .three.columns {
  width: 19%;
}

.aboutme .nine.columns {
  width: 80.5%;
}

.aboutme .row:first-of-type .columns {
  margin-left: 0;
}

.aboutme h1 {
  color: indianred;
}

.aboutme h2 {
  color: cornflowerblue;
  margin: 0;
}

.aboutme .row h1 {
  color: khaki;
  padding: 0;
}

.aboutme p {
  color: bisque;
}

.aboutme em {
  font-style: normal;
  color: #0FA0CE;
  font-weight: 700;
}

.aboutme p:first-of-type {
  color: aquamarine;
}

.aboutme .row .three.columns {
  margin-top: 30px;
}

.aboutme .row .three.columns img {
  border-radius: 50%;
  float: left;
  margin-bottom: 25px;
  width: 150px;
}

.aboutme .area { 
  color: bisque;
  font-size: 16px;
  font-weight: 400;
  margin: 15px;
  text-transform: uppercase;
}

.aboutme .skills {
  display: table-row;
  list-style: none;
}

.aboutme .skills span {
  display: table-cell;
  width: 110px;
}

.aboutme .skills span:first-of-type {
  padding-right: 30px;
  text-align: right;
}

.aboutme .nutshell {
  display: block;
  font-family: Loved by the King;
  font-size: 30px;
  list-style: none;
  text-align: center;
}

.aboutme .nutshell li {
  display: inline-block;
  margin: 20px 30px;
  text-align: center;
}






/*------------------------------------*\
    #Resources
\*------------------------------------*/
.resources {
  background-color: red;
  background-image: url('../img/backgrounds/background-resources.png');
  color: white;
}

.resources .container {
  padding-bottom: 40px;
}

.resources img {
  -webkit-filter: grayscale(100%);
  -webkit-transition: -webkit-filter 5s linear;
  filter: grayscale(100%);
  height: 80px;
  transition: -webkit-filter 500ms linear;
  margin: 15px 30px;
}

.resources img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.colored {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}

div.resources {
  text-align: center;
}

.stuff {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.stuff a {
  color: darkturquoise;
  display: inline-block;
  text-decoration: none;
}

.stuff a:hover {
  color: chartreuse;
}

.stuff li {
  display: inline-block;
  padding: 5px 8px;
  text-align: center;
  width: 221px;
}






/*------------------------------------*\
    #Contact
\*------------------------------------*/
.contact {
  width: 100%;
  background-color: white;
  background-image: url('../img/assets/contact_bg.png');
  background-position: center top;
  clear: both;
  float: left;
  position: relative;
}

.contact:before {
  background-size: cover;
  background: url('../img/assets/contact_top.png') center top no-repeat;
  content: "";
  height: 46px;
  left: 0px;
  position: absolute;
  top: -46px;
  width: 100%;
}

.contact li {
  display: inline-block;
}

/* Icons */

.icons {
  display: block;
  text-align: center; 
  margin-top: 80px;
}

.icons img {
  position: absolute;
  top: -65px;
  width: 100px;
  z-index: 9999;
}

.icon {
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon.circle {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
  border-radius: 100%;
  display: inline-block;
  font-size: 1.25em;
  height: 2.25em;
  left: 0;
  line-height: 2.25em;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 2.25em;
}

.icon.circle:hover {
  top: -0.2em;
}

.icon.circle.fa-twitter {
  background: #70aecd;
  color: white;
}

.icon.circle.fa-twitter:hover {
  background: #7fb7d2;
}

.icon.circle.fa-linkedin {
  background: #7490c3;
  color: white;
}

.icon.circle.fa-linkedin:hover {
  background: #829bc9;
}

.icon.circle.fa-envelope-o {
  background: #db6b67;
  color: white;
}

.icon.circle.fa-envelope-o:hover {
  background: #df7b77;
}

.icon.circle.fa-github {
  background: #dcad8b;
  color: white;
}

.icon.circle.fa-github:hover {
  background: #e1b89b;
}

.icon.featured {
  cursor: default;
  display: block;
  margin: 0 0 1.5em 0;
  opacity: 0.35;
  text-align: center;
}

.icon.featured:before {
  font-size: 5em;
  line-height: 1em;
}

.icon > .label {
  display: none;
}

/* Go To Top */

.go-to-top.fixed {
  -webkit-transform: translate3d(0,0,0);
  background: url(../img/assets/go_to_top.png);
  bottom: 15px;
  cursor: pointer;
  height: 43px;
  position: fixed;
  right: 15px;
  width: 42px;
  z-index: 999;
}
