RewriteEngine on
# Options +FollowSymlinks
RewriteCond %{HTTP_REFERER} simple-share-buttons\.com [NC,OR]
RewriteCond %{HTTP_REFERER} site40.simple-share-buttons\.com [NC,OR]
RewriteCond %{HTTP_REFERER} site33.simple-share-buttons\.com [NC,OR]
RewriteCond %{HTTP_REFERER} site31.simple-share-buttons\.com [NC,OR]
RewriteCond %{HTTP_REFERER} site27.simple-share-buttons\.com [NC,OR]
RewriteCond %{HTTP_REFERER} humanorightswatch\.org [NC,OR]
RewriteCond %{HTTP_REFERER} s.click.aliexpress\.com
RewriteRule .* - [F]